@import './_variables';
@import "./_mixins";
@import "./_preloading";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";
@import "./font";

.custom-card-j .p-fileupload-row button{
        padding: 3px !important;
}

.custom-menu-bar .p-menubar {
    background-color: unset !important;
    border: unset !important;
}

.custom-logo {
    width: 70px !important;
    height: 70px !important;
}
