<p-toast key="tst"></p-toast>
<div class="grid p-fluid" [formGroup]="patientForm">

    <div class="col-12 xl:col-6">
        <div class="card p-fluid">
            <h4>Patient Information</h4>
            <div class="field">
                <label htmlFor="name1">Firstname</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="first_name"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Middlename</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="middle_name"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Lastname</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="last_name"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Bithday</label>
                <input pInputText  type="date" autocomplete="none" class="ng-prestine" formControlName="birthday"/>
            </div>
            <div class="field">
                <label>Gender</label>
                <div class="grid formgrid">
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <p-radioButton value="Male" formControlName="gender"></p-radioButton>
                            <label >Male</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <p-radioButton  value="Female" formControlName="gender"></p-radioButton>
                            <label >Female</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <p-radioButton value="other" formControlName="gender"></p-radioButton>
                            <label >Other</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label htmlFor="name1">Place of birth</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="place_of_birth"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Contact number</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="contact"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Emergency contact number</label>
                <input pInputText  type="text" autocomplete="none" class="ng-prestine" formControlName="emergency_contact"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Status</label>
                <p-dropdown [options]="status"  placeholder="Status" [showClear]="true" formControlName="status"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-6" formArrayName="patientRecords">
        <ng-container *ngFor="let getPatientRecord of getPatientRecord.controls; let i = index">
            <div class="card p-fluid" [formGroupName]="i">
            <h4>Patient Record <small>(optional)</small></h4>

            <div class="field">
                <label htmlFor="name1">Prescriptions</label>
                <input pInputText  type="text" autocomplete="none" formControlName="prescriptions"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Diagnoses</label>
                <input pInputText  type="text" autocomplete="none" formControlName="diagnose"/>
            </div>
            <div class="field">
                <label htmlFor="name1">Notes / Comments</label>
                <textarea rows="5" cols="30" pInputTextarea autocomplete="none" formControlName="notes"></textarea>
            </div>
            <div class="field">
                <label htmlFor="name1">Physician</label>
                <p-dropdown [options]="doctors"  placeholder="Physician" optionLabel="fullname" [showClear]="true" autocomplete="none" formControlName="physician"></p-dropdown>
            </div>
        </div>
        <div class="card p-fluid custom-card-j">
            <div class="field">
                <label htmlFor="name1">Upload file</label>
                <p-fileUpload [showUploadButton]="false" name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                          [multiple]="true" accept="image/*" [maxFileSize]="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>

            </div>
        </div>
        </ng-container>

    </div>



</div>
<div class="flex justify-content-end mb-2 ">

</div>
<div class="grid p-fluid">
    <div class="col-12 xl:col-6">
        <button pButton label="Back" icon="pi pi-arrow-left" class="p-button-secondary" [routerLink]="['/patients']"></button>
    </div>
    <div class="col-12 xl:col-6">
        <button pButton label="Submit" [disabled]="!patientForm.valid" *ngIf="!isUpdate" class="p-button-success xs:w-full" (click)="submit()" ></button>
        <button pButton label="Update" [disabled]="!patientForm.valid" icon="pi pi-pencil" *ngIf="isUpdate" class="p-button-success xs:w-full" (click)="update()"></button>
    </div>
</div>

